.content {
  position: absolute;
  border: 1px solid;
  padding: 1em;
  height: 80%;
  width: 95%;
  margin-left: 1%;
  overflow: auto;
}

.preload {
  background: black;
  color: white;
  padding: 1em;
}

.cellinput {
  width: 100%;
}

.errormsg {
  font-family: monospaced;
  background: #f7da79;
}
